<a href="https://colab.research.google.com/github/Rojhak/Cv/blob/main/Beratung_neue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px 

import numpy as np

In [7]:
data = pd.read_excel("beratung_ist.xlsx")

In [9]:
data.And_Sprache.sum()

AttributeError: ignored

In [ ]:
data = data.drop(columns=['Andere…2',
       'Andere…3', "Rus"])

In [10]:
data.rename(columns={'Afghan-\nistan':"Afghanistan", 'Uk\nraine':"Ukraine", 'Andere…':"Andere"}, inplace=True)

In [ ]:

plt.style.use('fivethirtyeight')
plt.figure(figsize=(12, 7), dpi=120)

slices =[data[column].sum() for column in data.columns[7:15]]
labels = data.columns[7:15]
colors = ["#9EA1D4",  "#FFF8E1", "#F5EA5A","#FF8787", "#FFB100", "#EB455F", "#85586F", "#86C8BC"]
plt.title("Beratung in 2022",)

plt.pie(slices, colors=colors,shadow=True, labels=labels, autopct="%.2f",explode=(0.0, 0.0,0.0,0.0,0.5, 0.3, 0.2, 0.0))

plt.axis('equal') 
plt.legend()

plt.show()

In [11]:
 data.fillna(0, inplace=True)

In [12]:
data["Ukr_andere"] = data.Ukraine + data.Libanon + data.Andere

In [13]:
data["And_Sprache"] = data['Andere…2'] + data['Andere…3'] + data["Rus"]

In [ ]:
data.And_Sprache.sum()

In [14]:
data = data.drop(columns=['Andere…2',
       'Andere…3', "Rus"])

In [15]:
data.Ukr_andere.sum()

219.0

In [16]:
data_clean = data.drop(columns=['Libanon', 'Ukraine', 'Andere'])

In [ ]:
data_clean.Iran.sum()

In [ ]:
data_länder = data_clean.columns[7:12]

In [ ]:
data_clean.columns

In [17]:
data_clean = data_clean.reindex(['Beratung durchgeführt', 'Frauen', 'Männer', 'G= Gestattung',
       'E= Erlaubnis', 'D= Duldung', 'Dauer der Beratung', 'Irak', 'Syrien',
       'Afghanistan', 'Türkei', 'Iran', 'Ukr_andere','Farsi', 'Deu', 'Eng', 'Tur', 'Kur',
       'Ara', 'Rus', 'And_Sprache'], axis=1)

In [ ]:
plt.style.use('fivethirtyeight')
plt.figure(figsize=(10, 8), dpi=80)

s = data_clean.sum()[5:11]

colors = ["#9EA1D4", "#86C8BC", "#F5EA5A", "#FFB100", "#EB455F", "#FF8787", "#85586F", "#FFF8E1"]
plt.title("Yekmal e.V- Beratungszahlen in 2022")
plt.xlabel("Länder")
plt.ylabel("Zahl der Beratungen")
                      
plt.bar(s.sort_values().index, s.sort_values())

plt.tight_layout()
plt.savefig("plot_bar.png")
plt.show()

In [ ]:
s = data_clean.sum()[5:11]
s.sort_values()

In [ ]:
s.sort_values().index

In [ ]:
sum = data_clean.sum()
sum[:2].index

In [ ]:
plt.style.use('fivethirtyeight')
plt.figure(figsize=(10, 8), dpi=80)



colors = ["#9EA1D4", "#86C8BC", "#F5EA5A", "#FFB100", "#EB455F", "#FF8787", "#85586F", "#FFF8E1"]
plt.title("Yekmal e.V- Beratungszahlen in 2022")
plt.xlabel("Gender")
plt.ylabel("Zahl der Beratungen")
                      
plt.bar(sum[:2].index, sum[:2])

plt.tight_layout()
plt.savefig("gender.png")
plt.show()

In [ ]:

plt.style.use('fivethirtyeight')
plt.figure(figsize=(12, 7), dpi=120)

s = data_clean.sum()[5:11]
colors = ["#9EA1D4","#86C8BC","#FFB100","#85586F", "#F5EA5A","#FF8787", "#EB455F"]
plt.title("Beratung in 2022",)

plt.pie(s,shadow=True, labels=s.index, autopct="%.2f")

plt.axis('equal') 
plt.legend()
plt.savefig("plo_pie.png")
plt.show()

In [18]:
s = data_clean.sum()
s

<ipython-input-18-1ddfcd46a2e7>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  s = data_clean.sum()

Frauen            894.0
Männer           1617.0
G= Gestattung    1420.0
E= Erlaubnis      747.0
D= Duldung        347.0
Irak              529.0
Syrien           1200.0
Afghanistan        60.0
Türkei            492.0
Iran               26.0
Ukr_andere        219.0
Farsi              12.0
Deu                43.0
Eng                47.0
Tur               203.0
Kur              1308.0
Ara               862.0
Rus                 0.0
And_Sprache        29.0
dtype: float64

In [ ]:
plt.style.use('fivethirtyeight')
plt.figure(figsize=(10, 8), dpi=80)

status = data_clean.sum()[2:5]

colors = ["#9EA1D4", "#86C8BC", "#F5EA5A", "#FFB100", "#EB455F", "#FF8787", "#85586F", "#FFF8E1"]
plt.title("Yekmal e.V- Beratungszahlen in 2022")
plt.xlabel("Aufenthalt Status der Ratsuchenden")
plt.ylabel("Zahl der Beratungen")
                      
plt.bar(status.index, status)

plt.tight_layout()
plt.savefig("status_bar.png")
plt.show()

In [ ]:
plt.style.use('fivethirtyeight')
plt.figure(figsize=(12, 7), dpi=120)

spr = data_clean.sum()[11:]
colors = ["#9EA1D4","#86C8BC","#FFB100","#85586F", "#F5EA5A","#FF8787", "#EB455F"]
plt.title("Beratung in 2022",)

plt.pie(spr,shadow=True, labels=spr.index, autopct="%.2f")

plt.axis('equal') 
plt.legend()
plt.savefig("sprache_pie.png")
plt.show()

In [20]:
new_data = data_clean.set_index('Beratung durchgeführt')

In [21]:
new_data["Date"] =new_data.index

In [25]:
new_data = new_data.drop(new_data.index[39:41])

In [28]:
new_data["sum_ber"] = new_data.Frauen + new_data.Männer

In [29]:
new_data.Date = pd.to_datetime(new_data["Date"],format='%Y-%m-%d')
#new_data.loc[new_data['Date'].isin(['2021-12', '2023-01'])]
new_data.Date[0]

Timestamp('2022-01-03 00:00:00')

In [30]:
new_data.columns

Index(['Frauen', 'Männer', 'G= Gestattung', 'E= Erlaubnis', 'D= Duldung',
       'Dauer der Beratung', 'Irak', 'Syrien', 'Afghanistan', 'Türkei', 'Iran',
       'Ukr_andere', 'Farsi', 'Deu', 'Eng', 'Tur', 'Kur', 'Ara', 'Rus',
       'And_Sprache', 'Date', 'sum_ber'],
      dtype='object')

In [23]:
new_data.index[34:43]

Index([2022-02-22 00:00:00, 2022-02-23 00:00:00, 2022-02-24 00:00:00,
       2022-02-25 00:00:00, 2022-02-28 00:00:00,                   0,
                         0, 2022-03-01 00:00:00, 2022-03-02 00:00:00],
      dtype='object', name='Beratung durchgeführt')

In [37]:
filt_data = new_data.groupby(new_data.Date.dt.month)[[ 'Irak', 'Syrien', 'Türkei', 'sum_ber']].sum()

In [38]:
filt_data

      Irak  Syrien  Türkei  sum_ber
Date
1     45.0    96.0    30.0    185.0
2     46.0    95.0    31.0    201.0
3     55.0    92.0    47.0    229.0
4     39.0    81.0    40.0    191.0
5     36.0    95.0    44.0    185.0
6     54.0   107.0    47.0    233.0
7     43.0   100.0    34.0    192.0
8     53.0   133.0    22.0    241.0
9     55.0   127.0    32.0    242.0
10    34.0   115.0    43.0    206.0
11    30.0    87.0    66.0    222.0
12    36.0    54.0    53.0    159.0

In [39]:
fig = px.line(filt_data, x=filt_data.index, y=[ 'Irak', 'Syrien', 'Türkei', 'sum_ber'])
fig.update_layout(xaxis_title="Monats",
                      yaxis_title="Zahl der Beratungen")
plt.savefig("gsm_bra_plot.png")
fig.show()

In [ ]:
fig = px.line(sum_bratung, x=sum_bratung.index, y=["sum_ber"])
fig.update_layout(xaxis_title="Monats",
                      yaxis_title="Zahl der Beratungen")
plt.savefig("beratugs_plot.png")
fig.show()

In [ ]:
new_data["sum_ber"] = new_data.Frauen + new_data.Männer

In [ ]:
sum_bratung = new_data.groupby(new_data.Date.dt.month)["sum_ber"].sum()
sum_bratung